.App {
  text-align: center;
  
}

.main-content {
  width: 70%;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-bottom: 100px;
  transform: translate(-50%);
  
}

.avatar {
  position: relative;
  top: 50%;
  right: 50%;
  transform: translate(30%, -50%);
  color: white;
}

body {
  font-family: 'Istok Web', sans-serif;
  font-size: 16px;
}

.button {
  /* padding-top: 10px!important; */
  margin-bottom: 5px!important;
}

.event-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 5px;
}

.ui.form .field>label {
  font-family: 'Istok Web', sans-serif;
  font-size: 13px;
  font-weight: bold;
}

.ui.button {
  font-family: 'Istok Web', sans-serif;
}

.ui.items>.item>.content>.description {
  font-size: 16px;
}

.ui.menu {
  font-family: 'Istok Web', sans-serif;
}

.ui.items>.item>.content>.header {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

div.meta {
  font-size: 14px;
}

/* div.content.invitation {
  padding: 10% 0;
} */

.ui.items>.item>.content>.header.invitation {
  font-weight: 400;
}

