.App {
  text-align: center;
}

.main-content {
  width: 70%;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-bottom: 100px;
  transform: translate(-50%);
}

.user {
  position: relative;
  top: 50%;
  right: 50%;
  transform: translate(30%, -50%);
}

.button {
  /* padding-top: 10px!important; */
  margin-bottom: 5px!important;
}

.event-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  margin-bottom: 5px;
}