html {
  height: 100%;
}

body {
  font-family: 'Istok Web', sans-serif;
  font-size: 16px;
  /* min-height: 100%; */
  display: grid;
  /* grid-template-rows: 1fr auto; */
}

.ui.menu .item>img:not(.ui) {
  width: 80px;
}
.ui.inverted.blue.menu {
  height: 60px;
}

.location-subheader {
  color: #333;
}

.login-content {
  position: relative;
  top: 5vw;
}

.login-content p {
  width: 80%;
}

.login-signup {
  position: relative;
  top: 5vw;
}

.login-form {
  padding-bottom: 10px;
}

.avatar {
  position: relative;
  top: 50%;
  right: 50%;
  transform: translate(30%, -50%);
  color: white;
}

h3.section-header {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 25px;
}

h2.login-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.button {
  /* padding-top: 10px!important; */
  margin-bottom: 5px!important;
}

.event-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 5px;
}

.ui.form .field>label {
  font-family: 'Istok Web', sans-serif;
  font-size: 13px;
  font-weight: bold;
}

.ui.button {
  font-family: 'Istok Web', sans-serif;
}

.ui.items>.item>.content>.description {
  font-size: 16px;
  max-width: 75%
}

div.description {
  max-width: 75%
}

.ui.menu {
  font-family: 'Istok Web', sans-serif;
}

.ui.items>.item>.content>.header {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

div.meta {
  font-size: 14px;
}

/* div.content.invitation {
  padding: 10% 0;
} */

.ui.items>.item>.content>.header.invitation {
  font-weight: 400;
}

.ui.inverted.vertical.footer.segment {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding: 5px 0;
}

.footer-icons-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.footer-icons-container ul {
  justify-content: center;
  /* text-align: center; */
  margin: auto;
  padding: 0;
}

.footer-icons-container ul li {
  display: inline-block;
}

/* .footer-icons ul {
  display: inline;
  align-items: center;
  justify-content:space-around;
  list-style-type:none;
} */

.footer-img {
  width: 50px;
  margin: auto;
}

.ui.footer.segment {
  /* margin: 5em 0em 0em; */
  padding: 5em 0em;
}

.ui.card:first-child {
  margin-top: 10px;
}

.ui.grid>* {
  padding: 10px;
}

.main.container {
  margin-top: 7em;
}

.main-section {
  margin-top: 100px;
  align-content: center;
}

.main-content {
  width: 60%;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-bottom: 100px;
  transform: translate(-50%);
}

.ui.text.container {
  max-width: 960px!important;
  margin-bottom: 5em;
}

div.description {
  white-space: nowrap;
  /* overflow: hidden; */
  text-overflow: ellipsis;
}

div.header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

i.edit.icon.right.floated {
  margin-right: 0;
}

button.no-bottom-margin {
  margin-bottom: 0!important;
  margin-right: 8px!important;
}

@media only screen and (min-width: 1200px) {
  .ui.grid.container {
    align-content: center!important;
  }
}

.beer-image img {
  width: 300px;
  height: auto;
  margin: 5px 10px;
}

.beer-item {
  display: flex;
}